
.generator {
    width: 500px;
    min-width: 200px;
}

.generator__inner {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.generator__title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.generator__options {
    display: flex;
    flex-direction: column;
}

.generator__option {
    margin: 5px 0;
    padding: 15px;
    background: #FFFFFF;
    display: flex;
    border-radius: 5px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.generator__output {
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.generator__output-copy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    top: 10px;
    right: 10px;
    background: lightgray;
}

.generator__output-result {
    font-size: 20px;
    font-weight: bold;
}

.generator__starter {
    display: flex;
    justify-content: center;
}

.generator__starter-btn {
    display: block;
    cursor: pointer;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    letter-spacing: 2px;
    background: cornflowerblue;
    width: 150px;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}





